@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --poppins: 'Poppins', san-serif;

    --sixty: rgba(250, 250, 250, 1);
    /* neutral */
    --thirty: rgba(44, 47, 63, 1);
    /* ptimary / company */
    --ten: rgba(63, 102, 141, 1);
    /* call to action */
}

body {
    font-family: var(--poppins);
    color: var(--thirty);
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

section {
    margin: 2em 0;
}

h1 {
    font-size: 3rem;
    line-height: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 0.4em;
}

h3 {
    line-height: 1.4em;
    margin-bottom: 2em;
}

p {
    line-height: 1.6;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--thirty);
}

button {
    border: none;
    font-size: 1rem;
    color: var(--sixty);

    padding: 1em 1.5em;
    border-radius: 10px;
    cursor: pointer;
}

/* Mobile First Design */

header {
    position: sticky;
    top: 0;
}

.header__nav {
    background-color: rgba(250, 250, 250, 0.7);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--thirty);
}

.nav__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__top a:hover {
    color: rgb(4, 69, 135);
}

.logo {
    padding: 1.5em 3.8em 1.5em 0;
    border-right: 1px solid var(--thirty);
}

.logo a {
    font-weight: bold;
}

.nav__mobile-icon path {
    fill: var(--thirty);
}

.header__nav ul {
    text-align: center;
    display: none;
}

.header__nav ul li {
    list-style: none;
}

.hero {
    margin: 6em 0;
}

.hero__description {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 70ch;
}

.description__text {
    margin-bottom: 3.5em;
}

.hero__description {
    margin-bottom: 2em;
}

.hero__img {
    width: 60%;
    min-width: 250px;
    max-width: 400px;
}

.primary-cta {
    background-color: var(--ten);
    font-weight: bold;
}

.primary-cta:hover {
    background-color: rgb(4, 69, 135);
}

.secondary-cta {
    background-color: var(--thirty);
}

.secondary-cta:hover {
    background-color: rgb(17, 24, 65);
}

.skill {
    display: flex;
    gap: 1.5em;
    align-items: center;
}

.experience li {
    margin-left: 2em;
}

.socials {
    display: flex;
    gap: 1.5em;
}

@media (min-width: 600px) {
    .project__gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5em;
    }
}

@media (min-width: 830px) {
    .hero .container {
        display: flex;
        justify-content: space-between;
    }

    .hero__img {
        width: 30%;
    }
}

@media (min-width: 900px) {
    header nav {
        display: flex;
        justify-content: space-between;
    }

    header svg {
        display: none;
    }

    .header__nav ul {
        display: flex;
        gap: 2em;
        align-items: center;
    }

    .skills__grid {
        display: flex;
        gap: 1.5em;
    }

    .skill {
        display: flex;
        flex-direction: column;
    }

    
}