@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --poppins: 'Poppins', san-serif;

    --sixty: rgba(250, 250, 250, 1);
    /* neutral */
    --thirty: rgba(44, 47, 63, 1);
    /* primary / company */
    --ten: rgba(63, 102, 141, 1);
    /* call to action */
}

body {
    font-family: var(--poppins);
    color: var(--thirty);
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

section {
    margin: 2em 0;
}

h1 {
    font-size: 3rem;
    line-height: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 0.4em;
}

h3 {
    line-height: 1.4em;
    margin-bottom: 2em;
}

p {
    line-height: 1.6;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--thirty);
}

button {
    border: none;
    font-size: 1rem;
    color: var(--sixty);

    padding: 1em 1.5em;
    border-radius: 10px;
    cursor: pointer;
}

/* Mobile First Design */

header {
    position: sticky;
    top: 0;
    z-index: 2;
}

.header__nav {
    border-bottom: 1px solid var(--thirty);
    background-color: rgba(250, 250, 250, 0.7);
}

.blur-bg {
    backdrop-filter: blur(10px);
}

.nav__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__top a:hover {
    color: rgb(4, 69, 135);
}

.logo {
    padding: 1.5em 3.8em 1.5em 0;
    border-right: 1px solid var(--thirty);
}

.logo a {
    font-weight: bold;
}

.nav__mobile-icon path {
    fill: var(--thirty);
}

.header__nav ul {
    text-align: center;
    display: none;
}

.header__nav ul li {
    list-style: none;
}

main {
    position: relative;
}

.hero {
    margin: 6em 0;
}

.hero__description.container {
    visibility: none;
}

.hero__description {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50ch;
    margin-top: 3em;
}

.description__text {
    margin-bottom: 3.5em;
}

.hero__description {
    margin-bottom: 1.5em;
}

.hero__img {
    min-width: 200px;
    max-width: 400px;
}

.primary-cta {
    background-color: var(--ten);
    font-weight: bold;
}

.primary-cta:hover {
    background-color: rgb(4, 69, 135);
}

.secondary-cta {
    background-color: var(--thirty);
}

.secondary-cta:hover {
    background-color: rgb(17, 24, 65);
}

.about-me>p {
    width: 50ch;
    margin-bottom: 1em;
}

.skills {
    margin-top: 20dvh;
}

.skill {
    display: flex;
    gap: 1.5em;
    align-items: center;
}

.experience li {
    margin-left: 2em;
}

.experience__description {
    font-weight: 700;
}

.experience__results {
    width: 50ch;
}

.blog__posts {}

.post {
    width: fit-content;
    padding: 0.75em 1em;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post p {
    width: 40ch;
}

.card {
    --blur: 16px;
    --size: clamp(300px, 50vmin, 600px);
    width: var(--size);
    aspect-ratio: 4 / 3;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    color: #000;
    transform: translateZ(0);
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(calc(1 + (var(--hover, 0) * 0.25))) rotate(calc(var(--hover, 0) * -5deg));
    transition: transform 0.2s;
}

.card__footer {
    padding: 0 1.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: red;
    display: grid;
    grid-template-row: auto auto;
    gap: 0.5ch;
    background: hsl(0 0% 100% / 0.5);
    backdrop-filter: blur(var(--blur));
    height: 30%;
    align-content: center;
}

.card__action {
    position: absolute;
    aspect-ratio: 1;
    width: calc(var(--size) * 0.15);
    bottom: 30%;
    right: 1.5rem;
    transform: translateY(50%) translateY(calc((var(--size) * 0.4))) translateY(calc(var(--hover, 0) * (var(--size) * -0.4)));
    background: purple;
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    background: hsl(0 0% 100% / 0.5);
    /*   backdrop-filter: blur(calc(var(--blur) * 0.5)); */
    transition: transform 0.2s;
}

.card__action svg {
    aspect-ratio: 1;
    width: 50%;
}

.card__footer span:nth-of-type(1) {
    font-size: calc(var(--size) * 0.065);
}

.card__footer span:nth-of-type(2) {
    font-size: calc(var(--size) * 0.035);
}

.card:is(:hover, :focus-visible) {
    --hover: 1;
}

.cta {
    margin: 5em 0;
}

.cta h2 {
    margin-bottom: 1.25em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.fields {
    background-color: rgba(203, 202, 202, 0.7);
    padding: 0.8em 1em;
}

input {
    border: none;
    border-radius: 20px;
}

input::placeholder {
    color: var(--thirty);
    border-radius: 20px;
}

textarea {
    border: none;
}

textarea::placeholder {
    color: var(--thirty)
}

footer {
    background-color: var(--thirty);
    padding: 3em 0 2em 0;
}

.socials {
    display: flex;
    margin-bottom: 2em;
}

small {
    color: var(--sixty);
}


@media (min-width: 600px) {
    .project__gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5em;
    }
}

@media (min-width: 830px) {
    .hero .container {
        display: flex;
        justify-content: space-between;
    }

    .right {
        display: flex;
        justify-content: end;
        position: sticky;
        top: 72px;
    }

    .hero__img {
        width: 30%;
    }

    .hero__description {
        position: absolute;
        top: 0;
    }

    .blog__posts {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 900px) {
    header nav {
        display: flex;
        justify-content: space-between;
    }

    header svg {
        display: none;
    }

    .header__nav ul {
        display: flex;
        gap: 2em;
        align-items: center;
    }

    .skills__grid {
        display: flex;
        gap: 1.5em;
    }

    .skill {
        display: flex;
        flex-direction: column;
    }

    .description__cta {
        z-index: 1;
        cursor: pointer;
    }

    .form-cta {
        max-width: 30%;
    }
}